


.mine-page {


  .mine-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 40rpx 35rpx;
    margin: 20rpx 0;

    .mine-info-logo {
      display: flex;
      align-items: center;

      .info-log {
        width: 90rpx;
        height: 90rpx;
        border-radius: 50%;
        background: darkgray;
        margin-right: 30rpx;
      }

      .info-name {

       
      }
    }
  }
  .mine-conf {
    background: #ffffff;
  }
}